<ul class="nav nav-tabs">
   <li role="presentation"><a href="register">Register</a></li>
   <li role="presentation"><a href="transfer">Transfer</a></li>
   <li role="presentation"><a href="getSaldo">Get Saldo</a></li>
   <li role="presentation"><a href="getTotalSaldo">Get Total Saldo</a></li>
</ul>
